/* navbar */
.nav{
    background-color: var(--navBackground);
}
.nav  a{
    color: var(--mainFontColor) !important;
}
.nav  a:hover{
    color: var(--secondaryFontColor) !important;
}



/* main */
body{
    background-color: var(--mainBackground);
    color: var(--mainFontColor);
    font-weight: 500;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: var(--navBackground);
}
::-webkit-scrollbar-track:hover{
    background-color: var(--secondaryBackground);
}
::-webkit-scrollbar-thumb{
    background-color: var(--mainFontColor);
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--secondaryFontColor);
}

